.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 170px);
    grid-template-rows: 30px repeat(7, 80px);
    background-color: #cfd8e0;
	width: 100%;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 15px;
    align-content: center;    
}

.grid-item{
    display: grid;
	padding: 5px;
    align-content: center;
    text-align: center;
    background-color: #EEE;
    /*background-color: "rgb(238, 238, 238)";*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2ch;
    font-weight: 100;
}

.grid-item-9{
    background-color: #cfd8e0;
}

.grid-item-1{
    font-weight: bold;
}

@media (min-width:1289px){.grid-container{justify-content: center}}